body {
	background-color: #999999;
	margin: 0;
	font-family: sans-serif;
}
.page {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	margin-top: 30px;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 20px 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#intro {
	display: flex;
	width: 100%;
	align-items: center;
}
#intro p {
	padding: 0 0 0 30px;
}
header {
	/*background-color: #ffffff;*/
	box-sizing: border-box;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	margin-top: 30px;
	/*box-shadow: 0 0 15px rgba(0,0,0,0.4);*/
}
header a {
	text-decoration: none;
	display: inline-block;
	background-color: #333333;
	color: white;
	padding: 15px 25px;
	margin: 0;
}
header a:hover {
	background-color: #222222;
}

a.assignment-list {
	box-sizing: border-box;
	display: inline-block;
	padding: 20px;
	text-align: center;
	background-color: #6699cc;
	color: white;
	text-decoration: none;
	width: 30%;
}

#php-results-form::selection {
  background-color: transparent;
  color: #aa3939;
}

#php-results-form .section_title {
  color: rgba(0,0,0,0.4);
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

#php-results-form .checking {
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom:15px;
}
#php-results-form .checking input[type="checkbox"] + label {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 5px solid rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    cursor: pointer;
}
#php-results-form .checking input[type="checkbox"] + label::after {
	opacity: 0;
	position: absolute;
	content: '';
	width: 25px;
	height: 10px;
	top: -5px;
	border: 6px solid #55aa55;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
#php-results-form .checking input[type="checkbox"] + label:hover::after {
    opacity: 0.3;
}
#php-results-form .checking input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
#php-results-form .checking input[type="checkbox"] + label + .real_label {
    position: absolute;
    left: 45px;
    top: -2px;
    width: 500px;
    color: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: bold;
    transition: all .4s ease;
}
#php-results-form .checking input[type="radio"] + label {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.4);
    background-color: transparent;
    position: absolute;
    top: 0;
    cursor: pointer;
}
#php-results-form .checking input[type="radio"] + label:hover {
    background-color: rgba(85,170,85,0.5);
}
#php-results-form .checking input[type="radio"]:checked + label {
    background-color: rgba(85,170,85,1);
    box-shadow: 0 0 0 5px #55aa55;
}
#php-results-form .checking input[type="radio"] + label + .real_label {
    position: absolute;
    left: 45px;
    top: -6px;
    width: 500px;
    color: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: bold;
    transition: all .4s ease;
}

#php-results-form .checking input[type="checkbox"]:checked + label + .real_label,
#php-results-form .checking input[type="radio"]:checked + label + .real_label {
    font-weight: bold;
    color: #55aa55;
}
#php-results-form input[type="checkbox"],
#php-results-form input[type="radio"] {
  visibility: hidden;
}
#php-results-form .real_label {
  margin-left: 13px;
}

#php-results-form input[type="submit"] {
	width: 160px;
	height: 50px;
	background-color: rgba(85,170,85,1);
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 50px;
	border-radius: 3px;
	font-size: 22px;
}
#php-results-form input[type="submit"]:hover {
	background-color: rgba(85,170,85,0.8);
}

.answer-graph {
	height: 200px;
}
.answer-graph .bar {
	display: inline-block;
	width: 120px;
	text-align: center;
}
/*.answer-graph .bar .number:nth-of-type(1) {
	background-color: #336699;
}
.answer-graph .bar .number:nth-of-type(2) {
	background-color: #ECC442;
}
.answer-graph .bar .number:nth-of-type(3) {
	background-color: #EC7942;
}
.answer-graph .bar .number:nth-of-type(4) {
	background-color: #75CF3A;
}*/
.answer-graph .bar .number {
	width: 75px;
	height: 75px;
	margin: auto;
	margin-bottom: 15px;
	color: white;
	background-color: #336699;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	#intro {
		flex-direction: column;
	}
	#intro p {
		padding: 0;
	}
	a.assignment-list {
		width: 100%;
	}

}